<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cppc.demo.todo.Mapper.TodoMapper">

    <sql id="todoList">
        SELECT * FROM todo
    </sql>

    <select id="getTodoList" resultType="java.util.HashMap">
        <include refid="todoList"/>
    </select>

    <select id="getTodoDetail" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        <include refid="todoList"/>
        WHERE todo_id = #{todoId}
    </select>

    <insert id="insertTodo" parameterType="java.util.HashMap">
        INSERT INTO todo (todo_id, contents, completed_yn, order_by, end_dttm, reg_dttm)
        VALUES (
          (SELECT COALESCE(cast(max(todo_id) as int)+1,1) FROM todo),
          #{contents},
          'n',
          #{orderBy},
          cast(#{endDttm} as timestamp),
          current_timestamp
        )
    </insert>

    <delete id="deleteTodo" parameterType="java.util.HashMap">
        DELETE FROM todo WHERE todo_id = #{todoId}
    </delete>
</mapper>